$height: 700px;
$item-secondary-width: 420px;

.stocks {
  height: $height;
  margin: 1.5rem 0;

  &__item {
    &--primary {
      padding: 1rem;
      overflow-y: scroll;
      background: #e6e6e6;
      border-radius: 5px;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &--secondary {
      padding: 0 1rem;
      box-sizing: border-box;
    }
  }

  @media (min-width: 1024px) {
    display: flex;
    flex-direction: row-reverse;

    &__item {
      &--primary {
        width: calc(100% - #{$item-secondary-width});
      }
      &--secondary {
        width: $item-secondary-width;
      }
    }
  }
}
